Repository Cosmoglobe/zodipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock, poetry-export

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  pass_filenames: false

poetry-lock:
  name: poetry-lock
  description: run poetry lock to update lock file
  entry: poetry lock
  language: python
  pass_filenames: false

poetry-export:
  name: poetry-export
  description: run poetry export to sync lock file with requirements.txt
  entry: poetry export
  language: python
  pass_filenames: false
  args:
  - --dev
  - -f
  - requirements.txt
  - -o
  - requirements-dev.txt

Bump version
  pyproject.toml
Due: poetry-check, poetry-lock

Adding new cosmoglobe model without tests
  zodipy/brightness.py
  zodipy/component_params.py
  zodipy/model_registry.py
  zodipy/scattering.py
  zodipy/source_params.py
  zodipy/unpack_model.py
  zodipy/zodiacal_light_model.py
Due: none

Corrected interp_and_unpack_cosmoglobe
  zodipy/unpack_model.py
Due: none

First attempt with Wright model
  zodipy/brightness.py
  zodipy/component.py
  zodipy/component_params.py
  zodipy/line_of_sight.py
  zodipy/model_registry.py
  zodipy/number_density.py
  zodipy/scattering.py
  zodipy/source_params.py
  zodipy/unpack_model.py
  zodipy/zodiacal_light_model.py
Due: none

Production run parameters
  zodipy/component_params.py
  zodipy/source_params.py
Due: none

Took out Wright
  zodipy/brightness.py
  zodipy/component.py
  zodipy/component_params.py
  zodipy/number_density.py
  zodipy/scattering.py
  zodipy/source_params.py
  zodipy/unpack_model.py
  zodipy/zodiacal_light_model.py
Due: none

Fixed bug
  zodipy/model_registry.py
Due: none

Really fixed I hope
  zodipy/line_of_sight.py
Due: none

Fixed tests, doc still todo
  zodipy/brightness.py
  zodipy/component.py
  zodipy/component_params.py
  zodipy/model_registry.py
  zodipy/number_density.py
  zodipy/scattering.py
  zodipy/source_params.py
  zodipy/unpack_model.py
  zodipy/zodiacal_light_model.py
Due: none

Added cosmoglobe model to documentation
  docs/introduction.md
Due: none

Feat: ran uvx migrate-to-uv
  poetry.lock
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-lock, poetry-export

Fix: resolve tool.ruff errors
  pyproject.toml
Due: poetry-check, poetry-lock

Add unit and property tests workflow for uv integration
  .github/workflows/uv-tests.yml
Due: none

review fixes and bump version
  .github/workflows/publish.yml
  pyproject.toml
Due: poetry-check, poetry-lock

add pyproject
  pyproject.toml
Due: poetry-check, poetry-lock

ci: enable trusted publishing for PyPI (#60)
  .github/workflows/publish.yml
  pyproject.toml
Due: poetry-check, poetry-lock

[skip ci] update readme with information on how to release to PyPI
  README.md
Due: none

Unpinned old numpy dependency
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock, poetry-export

Updated test.yml
  .github/workflows/tests.yml
Due: none

updated tag
  .github/workflows/tests.yml
Due: none

Fixed mypy complaint
  zodipy/blackbody.py
Due: none

Fixed float complaint
  zodipy/line_of_sight.py
Due: none

Updated ruff rules to ignore 'too many arguments'
  pyproject.toml
Due: poetry-check, poetry-lock

Ran ruff format
  README.md
  docs/index.md
  docs/usage.md
Due: none

Revert "Unpinned old numpy dependency"
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock, poetry-export

Unpinned dependencies.
  pyproject.toml
Due: poetry-check, poetry-lock

Updated poetry lock file
  poetry.lock
Due: poetry-lock, poetry-export

Small syntax changes, updated poetry on the workflow yml
  .github/workflows/tests.yml
  docs/usage.md
Due: none

Path conditions:
  poetry-check: any of: ^(.*/)?pyproject\.toml$
  poetry-lock: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  poetry-export: any of: ^(.*/)?poetry\.lock$
