Repository Cosmoglobe/zodipy: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock, poetry-export

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
        langauge_version: python3

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.7
    hooks:
      - id: ruff
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        exclude: "(tests|docs)/.*"
        additional_dependencies: [numpy>=1.21.0]

  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        pass_filenames: false
        files: ^(.*/)?pyproject\.toml$
      - id: poetry-lock
        name: poetry-lock
        description: run poetry lock to update lock file
        entry: poetry lock
        language: python
        pass_filenames: false
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$
      - id: poetry-export
        name: poetry-export
        description: run poetry export to sync lock file with requirements.txt
        entry: poetry export
        language: python
        pass_filenames: false
        files: ^(.*/)?poetry\.lock$
        args: ["--dev", "-f", "requirements.txt", "-o", "requirements-dev.txt"]

Unpinning old dependencies (#67)
  .github/workflows/tests.yml
  README.md
  docs/index.md
  docs/usage.md
  poetry.lock
  pyproject.toml
  zodipy/blackbody.py
  zodipy/line_of_sight.py
Due: poetry-check, poetry-lock, poetry-export

Updated github workflow for new version of poetry
  .github/workflows/mkdocs-deploy.yml
Due: none

Bumping version to 1.1.5
  pyproject.toml
Due: poetry-check, poetry-lock

build: remove requirements.txt
  requirements.txt
Due: none

build: update dependencies
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-lock

fix: typo
  pyproject.toml
Due: poetry-check, poetry-lock

docs: update readme for uv usage
  README.md
Due: none

fix: github test workflow with uv
  .github/workflows/tests.yml
Due: none

fix: tab
  .github/workflows/tests.yml
Due: none

style: ruff formatting
  .github/workflows/tests.yml
  docs/usage.md
Due: none

fix: tests.yml workflow with uv
  .github/workflows/tests.yml
Due: none

docs: create a keep-a-changelog compliant CHANGELOG.md
  CHANGELOG.md
Due: none

Feature/uv (#68)
  .github/workflows/tests.yml
  CHANGELOG.md
  README.md
  docs/usage.md
  poetry.lock
  pyproject.toml
  requirements.txt
  uv.lock
Due: poetry-check, poetry-lock, poetry-export

fix: update gh-deploy to use uv
  .github/workflows/mkdocs-deploy.yml
Due: none

build: tag mkdocs-autorefs version
  pyproject.toml
Due: poetry-check, poetry-lock

build: update lockfile
  uv.lock
Due: none

Update dependency installation command in workflow
  .github/workflows/mkdocs-deploy.yml
Due: none

Patch/gh pages (#69)
  .github/workflows/mkdocs-deploy.yml
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-lock
